

section{
    width:100%;
    height:630px;
    background: #eff3f5;
}
section .wrap{
    margin:0 auto;
    width:1170px;
    height:592px;
    /*position:relative;*/
    background: #fff;;
}
.section_placeholder{
    height:15px;
    background:#eff3f5 ;
}
.section_content{
    height:592px;
}
.section_content_title{
    text-align: center;
}
.section_content_placeholder{
    height:36px;
}
h1{
    font-size: 30px;
}
input{
    border:0;
}
.section_content_list_username{
    border-bottom:1px solid #eff3f5;
    width:593px;
    height:71px;
    margin-left:288px;
    margin-top:18px;
    position:relative;
}
.section_content_list_username span{
    position:absolute;
    left:110px;
    top:27px;
    width:17px;
    height:24px;
    background: url("../img/sprite.png") -7px -6px;
}
.section_content_list_username input{
    position:relative;
    left:157px;
    top:18px;
    width:436px;
    height:43px;
    font-size: 16px;
}
.section_content_list_password input{
    position:relative;
    left:157px;
    top:18px;
    width:436px;
    height:43px;
    font-size: 16px;
}
.section_content_list_password{
    border-bottom:1px solid #eff3f5;
    width:593px;
    height:71px;
    margin-left:288px;
    position:relative;
}
.section_content_list_password span{
    position:absolute;
    left:110px;
    top:27px;
    width:17px;
    height:24px;
    background: url("../img/sprite.png") -7px -52px;
}
.section_content_list_verification1 input{
    position:relative;
    left:157px;
    top:18px;
    width:188px;
    height:43px;
    font-size: 16px;
}
.section_content_list_verification1{
    border-bottom:1px solid #eff3f5;
    width:593px;
    height:71px;
    position:relative;
    margin-left:288px;
}
.section_content_list_verification1 span{
    position:absolute;
    left:110px;
    top:27px;
    width:25px;
    height:19px;
    background: url("../img/sprite.png") -7px -189px;
}
.section_content_list_verification1_acquire{
    text-align: center;
    line-height: 45px;
    width:140px;
    height:45px;
    background: #c0f4de;
    border:0;
    position:absolute;
    top:16px;
    right:60px;
    font-size: 14px;
    color:#0db68a;
}
.section_content_list_verification2 input{
    position:relative;
    left:157px;
    top:18px;
    width:188px;
    height:43px;
    font-size: 16px;
}
.section_content_list_verification2{
    border-bottom:1px solid #eff3f5;
    width:593px;
    height:71px;
    position:relative;
    margin-left:288px;
}
.section_content_list_verification2 span{
    position:absolute;
    left:110px;
    top:27px;
    width:28px;
    height:28px;
    background: url("../img/sprite.png") -7px -99px;
}
.section_content_list_verification2_refresh{
    width:19px;
    height:19px;
    position:absolute;
    top:30px;
    right:70px;
    background: url("../img/sprite.png") -10px -147px;
}
div.section_content_list_submit{
    margin:0 auto;
    width:594px;
    height:120px;
}
.section_content_list_submit input{
    width:402px;
    height:52px;
    background:#5be0a7;
    font-size: 17px;
    color:#fff;
    margin-top: 30px;
    margin-left:98px;
    /*position:relative;*/
    /*left:98px;*/
    /*top:30px;*/
}
.section_content_list_back{
    float:right;
    margin-right:98px;
    font-size: 15px;
    color:#a4afba;
    margin-top:20px;
}
.section_placeholder_bottom{
    height:15px;
    background: #eff3f5;
    position: absolute;
    bottom:0;
}
.captcha{
    position:absolute;
    right: 120px;
    top:18px;
}
input{
    outline:none;
}
.captcha_msg{
    position:absolute;
    right: -30px;
    top:30px;
    color: red;
}
