
section{
    width:100%;
    height:724px;
    background: #eff3f5;
}
section .wrap{
    margin:0 auto;
    width:1170px;
    height:724px;
    /*position:relative;*/
    background: #fff;;
}
.section_placeholder{
    height:15px;
    background:#eff3f5 ;
}
.section_content{
    height:632px;
}
.section_content_title{
    text-align: center;
}
.section_content_placeholder{
    height:36px;
}
h1{
    font-size: 30px;
}
input{
    border:0;
}
.section_content_list_username{
    border-bottom:1px solid #eff3f5;
    width:593px;
    height:71px;
    margin-left:288px;
    margin-top:18px;
    position:relative;
}
.section_content_list_username span{
    position:absolute;
    left:110px;
    top:27px;
    width:17px;
    height:24px;
    background: url("../img/sprite.png") -7px -6px;
}
.section_content_list_username input{
    position:relative;
    left:157px;
    top:18px;
    width:436px;
    height:43px;
    font-size: 16px;
}
.section_content_list_password input{
    position:relative;
    left:157px;
    top:18px;
    width:436px;
    height:43px;
    font-size: 16px;
}
.section_content_list_password{
    border-bottom:1px solid #eff3f5;
    width:593px;
    height:71px;
    margin-left:288px;
    position:relative;
}
.section_content_list_password span{
    position:absolute;
    left:110px;
    top:27px;
    width:17px;
    height:24px;
    background: url("../img/sprite.png") -7px -52px;
}
.section_content_list_verification1 input{
    position:relative;
    left:157px;
    top:18px;
    width:188px;
    height:43px;
    font-size: 16px;
}
.section_content_list_verification1{
    border-bottom:1px solid #eff3f5;
    width:593px;
    height:71px;
    position:relative;
    margin-left:288px;
}
.section_content_list_verification1 span{
    position:absolute;
    left:110px;
    top:27px;
    width:25px;
    height:19px;
    background: url("../img/sprite.png") -7px -189px;
}
.section_content_list_verification1_acquire{
    text-align: center;
    line-height: 45px;
    width:140px;
    height:45px;
    background: #c0f4de;
    border:0;
    position:absolute;
    top:16px;
    right:60px;
    font-size: 14px;
    color:#0db68a;
}
.section_content_list_verification2 input{
    position:relative;
    left:157px;
    top:18px;
    width:188px;
    height:43px;
    font-size: 16px;
}
.section_content_list_verification2{
    border-bottom:1px solid #eff3f5;
    width:593px;
    height:71px;
    position:relative;
    margin-left:288px;
}
.section_content_list_verification2 span{
    position:absolute;
    left:110px;
    top:27px;
    width:28px;
    height:28px;
    background: url("../img/sprite.png") -7px -99px;
}
.captcha{
    position:absolute;
    top:18px;
    right:140px;
}
.captcha img{
    width:100px;
    height:35px;
}
.section_content_list_verification2_refresh{
    width:19px;
    height:19px;
    position:absolute;
    top:30px;
    right:70px;
    background: url("../img/sprite.png") -10px -147px;
}
div.section_content_list_role{
    margin:0 auto;
    width:594px;
    height:80px;
}
.section_content_list_mentor{
    float:left;
    width:190px;
    height:50px;
    border:1px solid #eff3f5;
    font-size: 15px;
    text-align: center;
    line-height: 50px;;
    margin-top:15px;;
    margin-left: 100px;
    cursor:pointer;
}
.section_content_list_seeker{
    float:right;
    width:190px;
    height:50px;
    border:1px solid #eff3f5;
    font-size: 15px;
    text-align: center;
    line-height: 50px;;
    margin-top:15px;;
    margin-right: 95px;
    cursor:pointer;
}
.section_content_list_role .selected{
    border:2px solid #49d599;
}
.section_content_list_rule{
    text-align: center;
    font-size: 13px;
    color:#a4afba;
}
div.section_content_list_submit{
    margin:0 auto;
    width:594px;
    height:120px;
}
.section_content_list_submit input{
    width:402px;
    height:52px;
    background:#5be0a7;
    font-size: 17px;
    color:#fff;
    margin-top:16px;
    margin-left:98px;
    cursor: pointer;
    /*position:relative;*/
    /*left:98px;*/
    /*top:16px;*/
}
.section_content_list_submit_login{
    margin-top:14px;
}
.section_content_list_submit_login a{
    float: right;
    font-size: 13px;;
    color:#a4afba;
    margin-right: 90px;
}
.section_placeholder_bottom{
    height:48px;
    background:#eff3f5 ;
}
input{
    outline:none;
}
.section_content_list_username .msg_username{
    position:absolute;
    left:430px;
    top:30px;
    color:red;
    font-size: 16px;
    z-index: 2;
}
.section_content_list_password .msg_psd{
    position:absolute;
    left:430px;
    top:30px;
    color:red;
    font-size: 16px;
    z-index: 2;
}
input[type="radio"]{
    display: none;
}
.section_content_list_rule label{
    color: #858b93;
    font-size: 26px;
    width: 20px;
    height: 20px;
    position:absolute;
    left:550px;
    -webkit-box-flex: 1;
    background: url("../img/空框.png");
    text-align: center;
    line-height: 94px;
}