.resume{
    background:#fff;
    margin-bottom: 35px;
}
.resume_nav{
    height: 48px;
    border-bottom: 1px solid #e1e1e1;
}
.resume_nav li{
    float: left;
    width: 227px;
    text-align: center;
    line-height: 48px;
    border-right: 1px solid #83838a;
    color:#7d7c85;
    font-family: "Microsoft YaHei" ! important;
}
.resume_container{
    clear:both;
    width:1000px;
    margin: 0 auto;
    font-family: "[FZLTXHK -GBK1-0]" ! important;
    font-weight: bolder;
    color:#7d7c85;
}
.resume-nav-selected {
    color:#5bced2;
    border-bottom: 3px solid #5bced2;
}
#resume_guider{
    height: 157px;
}
.resume_guider_img{
    background: #d6effe;
    width: 135px;
    height: 135px;
    position: relative;
    border-radius: 50%;
    text-align: right ;
}
#resume_guider .img-img{
    width:111px;
    height:111px;
    position: absolute;
    left: 12px;
    top:12px;
    border-radius: 50%;
    background: url('../img/yangmi.jpg') no-repeat center -15px;
}
#resume_company{
    height: 218px;
}
.resume_company_img{
    width: 150px;
    height: 150px;
    background: red;
    position: absolute;
    top:30px;
    right:50px;
}
.company_td{
    position: relative;
}
#resume_project{
    height: 240px;
}
#resume_guider .name{
    font-size: 30px;
    font-weight: bold;
    padding: 26px 0;
    color:#3c5966;
}
#resume_guider td{
    width: 500px;
    padding:5px;
    font-size: 16px;
}
.com{
    font-size:20px;
    padding:20px 0;
}
#resume_project td{
    width: 600px;
    padding: 5px 0;
    line-height: 25px;
}
#resume_company td{
    width: 600px;
    padding: 5px 0;
    line-height: 25px;
}
#resume_guider,#resume_company  table{
    border-bottom: 1px solid #e1e1e1;
}
#resume_guider img{
    float: right;
}
.hide{
    display: none;
}